body {
    margin: 0;
}

.main-wrap {
    align-items: center;
    display: flex;
    margin: 10vh;
    flex-flow: column wrap;
}

.header-banner {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    background-color: #29313D;
    height: 25vh;
    padding: 10vh;
}

.header-heading-div {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

.header-heading {
    font-family: 'Poppins';
    color: white;
    font-weight: 500;
    margin: 0;
    font-size: 36pt;
}

.search {
    width: 60vh;
    border: 1px #747474 solid;
    border-radius: 5px;
    margin-top: 3vh;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}

.searchbar {
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    padding: 1.5vh;
    width: 50vh;
    font-size: 16pt;
    outline: none;
}

.searchicon {
    padding: 1vh 1vh 1vh 2vh;
    width: 2.5vh;
}

.header-banner-left {
    flex: 2.5;
}

.header-banner-right {
    flex: 2;
    align-items: center;
    display: flex;
    margin: auto;
    flex-flow: column wrap;
}

.filled-button-div {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 3vh 0 0 0vh;
    float: right;
}

.filled-button {
    align-items: center;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0));
    background-color: #4678F9;
    border-radius: 5px;
}

.filled-button h6 {
    margin: 0;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 16pt;
    color: white;
    padding: 1.5vh 3vh 1.5vh 1vh;
}

.filled-button img {
    padding-left: 2vh;
    width: 2.5vh;
}

.sort,
.sortSelector {
    font-family: "Poppins";
    outline: none;
    border: none;
}

.sort {
    margin-top: 3vh;
    border: 1px solid #747474;
    box-sizing: border-box;
    border-radius: 5px;
    width: 25vh;
    margin-left: 4vh;
    font-size: 16pt;
    text-align: center;
    background-color: white;
}

.sortSelector {
    padding: 1.5vh 3vh 1.5vh 3vh;
    font-size: 16pt;
    color: #747474;
}

.event-banner-div {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

.event-banner {
    display: flex;
    border-radius: 10px;
    width: 164vh;
    height: 62.4vh;
    background-size: contain;
    background-image: url('https://media.discordapp.net/attachments/828689095894237214/848490016815710228/banner.png?width=1312&height=499');
}

.pages {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin-top: 5vh;
}

.pages-cursors {
    margin: 0 1vh 0 1vh;
    fill: #c4c4c4;
}

.page-turn-button {
    margin: 0 2vh 0 2vh;
    cursor: pointer;
}

.pages-cursors-selected {
    fill: #4678F9;
}

.event-banner-text {
    border-radius: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    width: 100%;
    padding: 5vh;
    align-self: flex-end;
    font-family: 'Poppins';
    color: white;
}

.event-banner-text h2 {
    font-size: 48pt;
    margin: 0;
}

.event-banner-text h4 {
    font-size: 24pt;
    margin: 0;
}

.event-cards-container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10vh 10vh;
}

.event-card {
    font-family: 'Poppins';
    box-shadow: 0 4px 30px rgb(0 0 0 / 15%);
    border-radius: 10px;
    width: 40vh;
}

.event-card img {
    border-radius: 10px 10px 0px 0px;
    width: 40vh;
    height: 15.21vh;
}

.event-card-text h1 {
    font-weight: 500;
    font-size: 24pt;
    margin: 0;
}

.event-card-text h2 {
    font-weight: 400;
    font-size: 16pt;
    margin: 0;
}

.event-card-text {
    margin: 1vh;
}

.event-card-inner-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 2vh;
}

.event-card-text a {
    text-decoration: none;
    color: #4678F9;
}

.event-card-text h3 {
    font-size: 16pt;
    font-weight: 400;
    color: #747474;
}

.date-heading {
    margin: 0;
    font-size: 16pt;
    font-weight: 500;
    color: #747474;
}

.date {
    margin: 0 0 2vh 0;
    font-size: 16pt;
    font-weight: 400;
}

.event-card-inner-container button {
    padding: 1vh 12vh 1vh 12vh;
    font-size: 16pt;
    font-family: 'Poppins';
    border-radius: 5px;
    border: 2px solid #4678F9;
    color: #4678F9;
    background: none;
    cursor: pointer;
}

.event-card-inner-container a {
    margin-bottom: 3vh;
    cursor: pointer;
}

.event-card-inner-container button:hover {
    color: white;
    background-color: #4678F9;
    cursor: pointer;
}