@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Poppins, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    overflow-x: hidden;
}

img {
    object-fit: cover;
}

textarea {
    resize: vertical;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}

a {
    text-decoration: none;
    color: #000;
}
p {
    font-weight: 400;
}

.App {
    font-family: Inter;
    text-align: center;
}

.container {
    padding: 0 9.1vw;
    width: 100%;
    overflow-x: hidden;
}

/* Header */

header strong {
    font-weight: 600;
    color: #85d49c;
}

header p {
    font-weight: 300;
    font-size: 1vw;
    margin-bottom: 1.3vh;
}

header {
    background: #29313d;
    width: 100vw;
    color: #fff;
}

.head-1 {
    padding-top: calc(8.5vh + 36px);
}

.head-2 {
    transform: translateY(-2px);
    padding: 2vh 0;
    position: sticky;
    top: 8.5vh;
    z-index: 999;
}

.login-area {
    margin-top: 10vw;
}

.login-area .profile {
    text-align: center;
    margin-top: 2vw;
}

.authButton {
    width: 235px;
    margin: auto;
}

.main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    height: auto;
    margin-top: 120px;
    font-family: Poppins;
}

.left {
    height: 500px;
    width: 60%;
}

.right {
    height: 500px;
    width: 40%;
    position: fixed;
    margin-left: 50%;
}

.left h1 {
    margin-top: 0px;
    font-size: 36px;
}

.left p {
    font-size: 18px;
    color: #9c9c9c;
    margin-top: -25px;
}

.top-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.right h3 {
    font-size: 24px;
}

#delete-icon {
    color: #c4c4c4;
    margin-left: 20px;
}

#delete-icon:hover {
    cursor: pointer;
}

.image-area {
    height: 265px;
    width: 457px;
    border: 1px dashed #000000;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#file-add-icon {
    font-size: 52px;
    color: #747474;
    margin-top: 75px;
}

.image-area h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin-top: 17px;
}

.image-area p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #747474;
    margin-top: -25px;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 25px;
}

.saveDraft {
    width: 222px;
    height: 54px;
    background: #29313d;
    border: none;
    border-radius: 4.28558px;
    color: white;
    font-family: Poppins;
    font-size: 18px;
}

.previewProject {
    width: 222px;
    height: 54px;
    border: 1px solid #747474;
    box-sizing: border-box;
    border-radius: 4.28558px;
    margin-left: 15px;
    color: #747474;
    font-family: Poppins;
    background-color: transparent;
    font-size: 18px;
}

.createProjectButton {
    width: 464px;
    height: 54px;
    background: #4678f9;
    border: none;
    border-radius: 4.28558px;
    color: white;
    font-family: Poppins;
    font-size: 18px;
    margin-top: 25px;
}

.saveDraft:hover,
.previewProject:hover,
.createProjectButton:hover {
    cursor: pointer;
}

.left h3 {
    font-weight: normal;
    font-size: 24px;
}

.left input {
    width: 570px;
    height: 56px;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    font-family: Poppins;
    color: #747474;
    padding-left: 22px;
    margin-top: -20px;
}

.left input:focus {
    outline: none;
}

.left textarea {
    width: 570px;
    height: 193px;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    font-family: Poppins;
    color: #747474;
    padding-left: 22px;
    padding-top: 18px;
    margin-top: -15px;
}

.left textarea:focus {
    outline: none;
}

.input-link {
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 25px;
}

.input-link-logo {
    height: 35px;
    width: 35px;
    margin-top: -20px;
    margin-right: 20px;
}

.input-add-logo {
    height: 17px;
    width: 35px;
    margin-top: -20px;
    margin-right: 20px;
}

#input-delete-icon {
    font-size: 22px;
    color: #747474;
    margin-top: -20px;
    margin-left: 30px;
}

#input-add-icon {
    font-size: 34px;
    color: #4678f9;
    margin-top: -20px;
    margin-left: 24px;
}

#input-delete-icon:hover,
#input-add-icon:hover {
    cursor: pointer;
}

.left select {
    width: 570px;
    height: 56px;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    font-family: Poppins;
    color: #747474;
    margin-top: -20px;
    padding-left: 22px;
}

.below-input {
    width: 570px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #747474;
    margin-top: 10px;
}

.header-div {
    position: fixed;
    height: 255px;
    width: 100%;
    background: #29313d;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    z-index: 1001;
    right: 0;
    left: 0;
    margin-top: 65px;
    font-family: Poppins;
}

.header-div h1 {
    margin-top: 40px;
    margin-left: 120px;
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
}

.header-div p {
    margin-left: 120px;
    font-weight: 400;
    color: white;
    font-size: 18px;
    width: 722px;
    margin-top: -15px;
}

.bold-tc {
    font-weight: bold;
    color: #85d49c;
}

.switchers {
    margin-left: 120px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.switch-div {
    height: 65px;
    width: 112px;
    color: #c4c4c4;
    text-align: center;
    margin-right: 40px;
    margin-top: 10px;
}

.switch-div h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
}

.switch-div:hover {
    cursor: pointer;
    border-bottom: 4.8px solid #85d49c;
    color: #85d49c;
}

.switch-div-active {
    height: 65px;
    width: 112px;
    border-bottom: 4.8px solid #85d49c;
    color: #85d49c;
    text-align: center;
    margin-right: 40px;
    margin-top: 8px;
}

.switch-div-active h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
}

.switch-div-active:hover {
    cursor: pointer;
}

.mid-area {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 72px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: fixed;
    z-index: 1001;
    margin-top: 327px;
    margin-right: -10px;
    background: #ffffff;
    padding-bottom: 20px;
}

.mid-area-shadow {
    box-shadow: 0px -6px 29px rgba(0, 0, 0, 0.25);
}

.search {
    border: 1px #747474 solid;
    border-radius: 5px;
    margin-top: 3vh;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin-left: 120px;
}

.searchbar {
    border: none;
    border-radius: 5px;
    font-family: "Poppins";
    padding: 1vh;
    width: 377px;
    font-size: 18px;
    outline: none;
}

.searchicon {
    padding: 1vh 1vh 1vh 2vh;
    width: 2.5vh;
}

.sort {
    margin-top: 3vh;
    border: 1px solid #747474;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Poppins";
    padding: 1vh;
    width: 200px;
    font-size: 18px;
    outline: none;
    margin-left: 40px;
    text-align: center;
}

.sortSelector {
    border: none;
    font-size: 16px;
    font-family: "Poppins";
    color: #747474;
    outline: none;
    width: 140px;
}

.create-new-org {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 125px;
    margin-top: 3vh;
    border: none;
    outline: none;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    background: linear-gradient(
            91.38deg,
            rgba(255, 255, 255, 0.18) 16.97%,
            rgba(255, 255, 255, 0) 100%
        ),
        #4678f9;
    border-radius: 5px;
    width: 240px;
    height: 44px;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    color: white;
    right: 0;
}

.addIcon {
    margin-left: 33px;
    margin-right: 11px;
}

.create-new-org:hover {
    cursor: pointer;
}

.comm-cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    z-index: 1000;
    margin-top: 450px;
    margin-left: -10px;
    padding-left: 120px;
}

.org-card {
    width: 355px;
    height: 426px;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-right: 46px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Poppins;
}

.org-card .org-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 40px;
}

.org-card h1 {
    margin-top: 20px;
    font-size: 24px;
}

.org-card .address {
    margin-top: -15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #747474;
}

.org-card .inline-place {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 95px;
    margin-top: -10px;
}

.inline-place p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #747474;
}

.inline-place img {
    margin-right: 10px;
}

.org-card .social-links {
    margin-top: 10px;
}

.social-links img {
    height: 27px;
    width: 27px;
    margin-right: 15px;
}

.social-links img:hover {
    cursor: pointer;
}

.org-card button {
    width: 313px;
    height: 48px;
    border: 1px solid #4678f9;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #4678f9;
    margin-top: 40px;
}

.org-card button:hover {
    cursor: pointer;
    background-color: #4678f9;
    color: white;
}

.user-card {
    width: 266px;
    height: 350px;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-right: 46px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Poppins;
}

.user-card .org-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 32px;
}

.user-card h1 {
    margin-top: 20px;
    font-size: 24px;
}

.user-card .address {
    margin-top: -15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #747474;
}

.user-card .inline-place {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 55px;
    margin-top: -10px;
}

.user-card .social-links {
    margin-top: 10px;
    margin-left: 10px;
}

i {
    margin-top: 0.4vw;
}

.root {
    width: 100vw !important;
    overflow: hidden !important;
}

/* NAV ------------------------------------------------------------------------------------------------------------------------------------------ */
nav {
    display: flex;
    height: 8.5vh;
    padding: 1vh 0;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.08);
}
#short-nav-logo {
    display: none;
}

.nav-left,
.nav-right {
    height: 100%;
    display: flex;
}

.nav-left {
    width: 80%;
}

.nav-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-logo-holder {
    width: 12%;
    height: 100%;
    margin-right: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .logo {
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.nav-link {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
    margin-right: 2vw;
    font-size: 1vw;
    position: relative;
    font-weight: 400;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2.5px;
    border-radius: 50px;
    background: #4678f9;
    transition: all 0.2s;
}

.nav-link:hover {
    color: #4678f9;
}

.nav-link:hover:after {
    width: 100%;
}

.nav-link-active {
    color: #4678f9;
}

.nav-link-active:after {
    width: 100%;
}

.disc-btn {
    text-decoration: none;
    border: 1px #4678f9 solid;
    color: #4678f9;
    border-radius: 3px;
    font-size: 0.98vw;
    padding: 0.6vh 1.6vw;
    transition: all 0.2s;
}
.disc-btn:hover {
    background: #4678f9;
    color: #fff;
}
.login-btn {
    text-decoration: none;
    background: #4678f9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.98vw;
    padding: 0.6vh 1.6vw;
    transition: all 0.3s ease-in-out;
}
.login-btn:hover {
    background: #4371e6;
}

.ham {
    padding: 2vh 2vw;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.ham .line {
    width: 4.6vw;
    height: 3px;
    background: #29313d;
    border-radius: 5px;
    position: relative;
    transition: all 0.2s;
}
.line::before,
.line::after {
    content: "";
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    background: #29313d;
    border-radius: inherit;
    transition: inherit;
}
.line::before {
    top: -0.9vh;
}
.line::after {
    top: 0.9vh;
}

.ham-active .line {
    background: transparent;
}
.ham-active .line::after {
    top: 0;
    transform: rotate(45deg);
}
.ham-active .line::before {
    top: 0;
    transform: rotate(-45deg);
}

.pfp {
    border-radius: 50%;
    height: 2.5vw;
    width: 2.5vw;
    transition: all 0.3s ease-in-out;
}
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.6vw;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.logout img {
    width: 1.6vw;
}

/* MEDIA */
@media (max-width: 1100px) {
    .container {
        padding: 0 6vw;
    }
    .nav-link,
    .disc-btn,
    .login-btn {
        font-size: 1.2vw;
    }
    .nav-link {
        margin-right: 2.4vw;
    }
    .pfp {
        height: 3.2vw;
        width: 3.2vw;
    }
    .logout img {
        width: 2vw;
    }
}
@media (max-width: 800px) {
    .container {
        padding: 0 5vw;
    }
    .nav-links {
        position: fixed;
        width: 45vw;
        height: 100vh;
        background: #fff;
        top: 0;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translate3d(100%, 0, 0);
    }
    .nav-links-active {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 0 100px #29313d56;
    }
    .nav-link,
    .disc-btn,
    .login-btn {
        margin: 2vh 0;
        font-size: 2vh;
    }
    .disc-btn,
    .login-btn {
        padding: 1vh 5vw;
    }
    .login-btn {
        position: fixed;
        bottom: 2%;
        right: calc(45vw / 2);
        transform: translate3d(300%, 0, 0);
        z-index: 11;
    }
    .login-btn-active {
        transform: translate3d(50%, 0, 0);
        box-shadow: 0 0 100px #29313d56;
    }
    nav {
        height: 7vh;
    }
    .nav-logo-holder {
        display: none;
    }
    #short-nav-logo {
        display: flex;
    }
    #short-nav-logo img {
        width: 60%;
    }
    .ham {
        display: inline-block;
    }
    .pfp {
        height: 8vw;
        width: 8vw;
        position: fixed;
        bottom: 8%;
        right: calc(45vw / 2);
        transform: translate3d(550%, 0, 0);
        z-index: 11;
    }
    .pfp-active {
        transform: translate3d(50%, 0, 0);
        box-shadow: 0 0 100px #29313d56;
    }
    .logout {
        position: fixed;
        bottom: 2%;
        right: calc(45vw / 2);
        transform: translate3d(860%, 0, 0);
        z-index: 11;
    }
    .logout img {
        width: 4vw;
    }
    .logout-active {
        transform: translate3d(50%, 0, 0);
    }
}
@media (max-width: 500px) {
    #short-nav-logo img {
        width: 100%;
    }
    .ham .line {
        width: 6.6vw;
    }
    .nav-links {
        width: 80vw;
    }
    .login-btn {
        right: calc(80vw / 2);
    }
    .disc-btn,
    .login-btn {
        padding: 0.8vh 8vw;
    }
    .pfp {
        height: 15vw;
        width: 15vw;
        right: calc(80vw / 2);
    }
    .pfp-active {
        transform: translate3d(50%, 0, 0);
        box-shadow: 0 0 100px #29313d56;
    }
    .logout {
        right: calc(80vw / 2);
    }
    .logout img {
        width: 7vw;
    }
    .logout-active {
        transform: translate3d(50%, 0, 0);
    }
}
