.tags-hold {
    border: 2px solid #eee;
    width: 75%;
    border-radius: 5px;
    min-height: 5.4vh;
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-x: scroll;
    transition: all 0.3s;
}
.tags-hold-focus {
    border: 2px solid #4678f9;
}
.tags-hold::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.tags-hold input {
    border: none !important;
    width: 100% !important;
    min-width: 10vw;
    outline: none !important;
    margin-top: 0 !important;
    padding: 2vh 1.5vh !important;
}
.tags-hold input:focus {
    outline: none;
}
.tag {
    display: flex;
    background: #4678f9;
    border-radius: 3px;
    color: #fff;
    align-items: center;
    padding: 0.5vh 0.7vw;
    margin-left: 0.7vw;
    font-size: 0.8vw;
    white-space: nowrap;
}
.tag-cross {
    width: 0.5vw;
    margin-left: 0.6vw;
    cursor: pointer;
}
.input-sub-text {
    color: #747474 !important;
    margin-top: 1vh;
    font-size: 0.8vw;
}

/* FIELDS ------------------------------------------------------------------------------------ */

