.tags-hold {
    border: 2px solid #eee;
    width: 75%;
    border-radius: 5px;
    min-height: 5.4vh;
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-x: scroll;
    transition: all 0.3s;
}
.tags-hold-focus {
    border: 2px solid #4678f9;
}
.tags-hold::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.tags-hold input {
    border: none !important;
    width: 100% !important;
    min-width: 10vw;
    outline: none !important;
    margin-top: 0 !important;
    padding: 2vh 1.5vh !important;
}
.tags-hold input:focus {
    outline: none;
}
.tag {
    display: flex;
    background: #4678f9;
    border-radius: 3px;
    color: #fff;
    align-items: center;
    padding: 0.5vh 0.7vw;
    margin-left: 0.7vw;
    font-size: 0.8vw;
    white-space: nowrap;
}
.tag-cross {
    width: 0.5vw;
    margin-left: 0.6vw;
    cursor: pointer;
}
.input-sub-text {
    color: #747474 !important;
    margin-top: 1vh;
    font-size: 0.8vw;
}

/* FIELDS ------------------------------------------------------------------------------------ */
.field-hold {
    position: relative;
}
.field-box {
    position: absolute;
    top: 200%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1.8vh 1.6vw;
    min-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.4s;
}
.filter-hold .field-box {
    width: 30vw;
}
.field-box-active {
    top: 110%;
    opacity: 1;
    pointer-events: all;
}
.field-box-top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 2vh;
}
.field-box-top h1,
.field-box-top button {
    margin-right: 1vw;
    color: #747474 !important;
}
.field-box-top h1 {
    font-size: 1.2vw !important;
}
.fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20vh;
    flex-wrap: wrap;
    width: 100%;
}
.field {
    margin-top: 1.4vh;
    margin-right: 1%;
    font-size: 0.9vw;
    width: 33.333%;
    text-align: left;
    transition: all 0.2s;
    white-space: nowrap;
}
.field-disabled {
    color: #747474;
}
.field-active {
    color: #4678f9;
}
