.create-org-cont {
    margin-top: 13vh;
    padding: 0 15vw;
    display: flex;
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.3s;
    margin-bottom: 10vh;
}
.create-org-cont h1,
.create-org-cont label,
.create-org-cont p,
.create-org-cont h3,
.create-org-cont input,
.create-org-cont textarea,
.create-org-cont select {
    color: #29313d !important;
}

.left-org {
    width: 60%;
}

.create-org-cont .left-org h1 {
    font-size: 1.8vw;
    font-weight: 600;
}

.create-org-cont .left-org p {
    font-size: 1vw;
    color: #9c9c9c;
}

.create-org-cont .left-org h3 {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 2.9vh;
}

.left-org input,
.left-org select,
.left-org textarea {
    width: 75%;
    height: 5vh;
    border: 2px solid #eee;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1vw;
    font-family: Poppins;
    color: #29313d;
    padding: 2vh 1.5vh;
    margin-top: 0.5vh;
    transition: all 0.3s;
}
.left-org select {
    cursor: pointer;
    padding: 1vh;
}
.left-org textarea {
    height: 20vh;
}

.create-org-cont .left-org input:focus,
.create-org-cont .left-org select:focus,
.create-org-cont .left-org textarea:focus {
    outline: none;
    border: 2px solid #4678f9;
}

.indi-wrap {
    display: flex;
}

input[type="checkbox"] {
    width: 1.3vw;
    height: 1.3vw;
    display: flex;
    margin-top: 1.7vw;
    margin-left: 1vw;
}

.left-org textarea:focus {
    outline: none;
}

.input-link-logo {
    height: 35px;
    width: 35px;
    margin-right: 1vw;
}

.input-link-text {
    width: 60%;
}

.input-add-logo {
    height: 17px;
    width: 35px;
}

#input-delete-icon {
    font-size: 22px;
    color: #747474;
}

#input-add-icon {
    font-size: 34px;
    color: #4678f9;
    margin-left: 1vw;
}

#input-delete-icon:hover,
#input-add-icon:hover {
    cursor: pointer;
}

#delete-icon {
    color: #c4c4c4;
    margin-left: 1vw;
    font-size: 1.1vw;
}

#delete-icon:hover {
    cursor: pointer;
}

.below-input {
    width: 75%;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    color: #747474;
    margin-top: 10px;
}

.org-mod-text {
    font-size: 1vw;
    color: #9c9c9c;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 0.5vw;
}

.mod-wrap {
    display: flex;
    width: 75%;
    margin: 1.8vh 0;
}

.mod-pfp {
    height: 4vw;
    width: 4vw;
    border-radius: 100%;
    margin: auto 0;
    margin-right: 1vw;
}

.mod-input-wrap {
    display: flex;
    justify-content: space-between;
}

input[type="text"].mod-input,
select.mod-input {
    margin: auto 0;
    vertical-align: middle;
    width: 47%;
}

.top-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.right {
    width: 25vw;
}

.right h3 {
    font-size: 1.5vw;
    font-weight: 500;
}

.right span {
    font-size: 1vw;
    margin: 1vh 0;
    color: #9c9c9c;
}

.image-area {
    height: 40vh;
    width: 100%;
    border: 1px dashed #000000;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
}

.image-area label {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.org-logo-uploaded {
    border: none;
}
.org-logo-uploaded label {
    display: none !important;
}

.left-org .create-links {
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
}

.mod-input-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mod-input {
    margin-right: 1vw !important;
}
.addMemIcon {
    font-size: 1.5vw;
    color: #4678f9;
    margin-left: 1vw;
    cursor: pointer;
}
.removeMemIcon {
    font-size: 1.5vw;
    color: #ff6b6b;
    margin-left: 1vw;
    cursor: pointer;
}

#file-add-icon {
    font-size: 2.5vw;
    color: #747474;
}

.image-area h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    color: black;
    margin-top: 1.5vh;
}

.image-area p {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    color: #747474;
}

.buttons-org {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 25px; */
    width: 100%;
}

.button-org .createOrgButton {
    width: 25vw;
    background: #4678f9;
    border: none;
    border-radius: 5px;
    padding: 1.4vh 0 !important;
    color: white;
    font-family: Poppins;
    font-size: 1vw;
    transition: all 0.3s;
}
.button-org .createOrgButton:hover {
    background: #2d53b3;
}

.saveDraft:hover,
.previewProject:hover,
.createProjectButton:hover {
    cursor: pointer;
}
