.org-cont {    
    margin-top: 13vh;
    padding: 0 15vw;
}

.org-wrap {
    margin-top: 3vh;
    display: flex;
}

.org-cont img {
    height: 20vh;
    width: 20vh;
}

.org-cont h1, 
.org-cont h2, 
.org-cont h3, 
.org-cont h4 {
    font-weight: 500;
}

.org-cont p {
    color: #747474;
    font-size: 0.9vw;
}

.org-cont .org-back {
    display: flex;
    align-items: center;
    color: #747474;
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.3s;
    margin-bottom: 2vh;
}

.main-info {
    width: 40%;
    text-align: center;
}

.main-box {    
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 1vw;
    margin: 0 2.5vw 4vh 2.5vw;
    padding: 1.5vw
}

.other-info {
    margin-left: 4vw;
}

.main-info h1 {
    font-size: 1.8vw
}

.main-info p {
    line-height: 3vh;
    margin: 1vh 0 2.5vh 0;
}

.main-info .org-pfp {    
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
}

.main-info a {
    color: #4678f9;
}

.main-info .site {    
    margin: 2vh 0;
}

.main-info .orglink-icons  {
    margin-top: 1vh;
    font-size: 4.2vh;
}

.main-info .orglink-icons a{
    margin: 0 0.5vw;
    color: black
}

.ReqJoinButton {
    width: 18vw;
    height: 6vh;
    background: #4678f9;
    border: none;
    border-radius: 4.28558px;
    color: white;
    font-family: Poppins;
    font-size: 1.1vw;
    margin-top: 2.8vh;
}


.other-info .org-div {
    margin-bottom: 2.5vh;
    /* max-width: 65%; */
}

.other-info .org-div h3 {
    font-size: 1.3vw;
    color: #4678f9;
    margin-bottom: 1vh;
}

.mod-div {
    display: flex;
    margin: 2vh 0;
}

.org-cont .mod-div img {
    height: 7vh;
    width: 7vh;
    border-radius: 100%;
}

.org-div .mod-div .mod-text {
    margin: auto 0;
    margin-left: 1vw;
} 

.org-div .mod-div .h4 {
    font-size: 0.8vw
}

.org-div .mod-div p {
    font-size: 0.9vw
}

.org-div table {
    color: #747474;
    font-size: 0.9vw;
}

.org-div tr td:first-of-type {
    padding: 0.5vh 0;
    padding-right: 1.5vw;
}

.members {
    width: 120%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}