.org-cont {
    margin-top: 4vh;
    padding: 0 10vw;
}

.org-wrap {
    margin-top: 3vh;
    display: flex;
}

.org-cont img {
    height: 20vh;
    width: 20vh;
}

.org-cont h1,
.org-cont h2,
.org-cont h3,
.org-cont h4 {
    font-weight: 500;
}

.org-cont p {
    font-size: 0.9vw;
}

.org-cont .org-back {
    display: flex;
    align-items: center;
    color: #747474;
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.3s;
    margin-bottom: 2vh;
}

.main-info {
    width: 30%;
    text-align: center;
}

.main-box {
    padding: 1.5vw;
}

.other-info {
    margin-left: 4vw;
}

.main-info h1 {
    font-size: 1.8vw;
}

.main-info p {
    line-height: 3vh;
    margin: 1vh 0 2.5vh 0;
}

.main-info .org-pfp {
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
}

.main-info a {
    color: #4678f9;
}

.main-info .site {
    margin: 1.6vh 0;
}

.main-info .orglink-icons {
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 4.2vh;
}

.main-info .orglink-icons a {
    margin: 0 0.5vw;
    color: black;
}

.ReqJoinButton {
    width: 18vw;
    height: 6vh;
    background: #4678f9;
    border: none;
    border-radius: 4.28558px;
    color: white;
    font-family: Poppins;
    font-size: 1.1vw;
    margin-top: 2.8vh;
}

.other-info .org-div {
    margin-bottom: 2.5vh;
    /* max-width: 65%; */
}

.other-info .org-div h3 {
    font-size: 1.3vw;
    color: #4678f9;
    margin-bottom: 1vh;
}

.mod-div {
    display: flex;
    margin: 2vh 0;
}

.org-cont .mod-div img {
    height: 7vh;
    width: 7vh;
    border-radius: 100%;
}

.org-div .mod-div .mod-text {
    margin: auto 0;
    margin-left: 1vw;
}

.org-div .mod-div .h4 {
    font-size: 0.8vw;
}

.org-div .mod-div p {
    font-size: 0.9vw;
}

.org-div table {
    color: #747474;
    font-size: 0.9vw;
}

.org-div tr td:first-of-type {
    padding: 0.5vh 0;
    padding-right: 1.5vw;
}

.members {
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.main-info .main-box a.edit-org-btn {
    color: #fff;
    padding: 1.6vh 2.4vw;
    background: #4678f9;
    border-radius: 10px;
    margin-top: 10vh;
    transition: all 0.3s;
}
.main-info .main-box a.edit-org-btn:hover {
    background: #2a51b2;
}
.leave-org {
    color: #ff6b6b;
    border: 1px #ff6b6b solid;
    border-radius: 10px;
    padding: 1.6vh 2.4vw;
    cursor: pointer;
    margin-top: 2.6vh;
}
.member-reqs {
    padding: 2vh 10vw;
    margin-top: 3vh;
}
.member-reqs h1 {
    color: #29313d;
    font-size: 1.6vw;
    font-weight: 600;
}
.invite-mem {
    width: 60%;
}
.invite-mem input,
.invite-mem select {
    border: 2px solid rgba(116, 116, 116, 0.3);
    font-size: 1vw;
    border-radius: 5px;
    padding: 1.2vh 1.2vw;
    font-weight: 300;
}
.sent-reqs {
    margin-top: 5vh;
}
