/* Resources head  */

.resorceHead.head-1 {
    padding-top: 10vh;
}
.resourceHead h1 {
    width: 65%;
    font-weight: 400;
    font-size: 2vw;
    /* margin-bottom: 3.2vh; */
    margin-bottom: 2vh;
    /* margin: 2vh 0; */
}
.eventHead2 {
    padding: 2vh 9.1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rscSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 56%;
    margin-bottom: 2vh;
}
.rscSearch button {
    padding: 1.4vh 2vw;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.2s;
}
/* .rscSearch button:hover {
  background: #fff;
  color: #29313d;
} */
.eventHead input {
    padding: 1.4vh 1vw;
    font-size: 1vw;
    padding-left: 0.6vw;
}
.rscSearch .input img {
    width: 4.4%;
}
.eventHead a {
    font-size: 1vw;
    color: #fff;
    padding: 1.4vh 2vw;
    background: linear-gradient(
            91.38deg,
            rgba(255, 255, 255, 0.18) 16.97%,
            rgba(255, 255, 255, 0) 100%
        ),
        #4678f9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.eventHead a:hover {
    background: linear-gradient(
            91.38deg,
            rgba(255, 255, 255, 0.18) 16.97%,
            rgba(255, 255, 255, 0) 100%
        ),
        #3f6ee6;
}

/* Resources */
.rsc-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.resources {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 10vw;
}
.resources h2 {
    text-align: left;
    font-weight: 400;
    font-size: 2vw;
    margin-bottom: 2.6vh;
}
.rsc-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.resource {
    width: 17%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #29313d;
    margin-bottom: 6vh;
    color: #fff;
    border-radius: 6px;
    font-size: 1.2vw;
    padding: 0 2vw;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
}
.resource:hover {
    background: #85d49c;
    color: #29313d;
}
