.signup-cont {
    background-color: #4678f9;
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign-fields input:first-child {
    margin-top: 0.1vh;
}

.signup-main .sign-fields {
    max-height: none;
}

.signup-wrap {
    background-color: white;
    width: 48vw;
    margin: 18vh auto 8vh auto;
    text-align: center;
    padding: 4vh 0;
    border-radius: 25px;
}

.signup-cont .signup-main {
    padding: 0 9vw;
}

.signup-cont img {
    height: 7vh;
}

.signup-cont h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 5px 0;
}

.signup-cont .fields {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.signup-cont .fields input {
    border: 1px solid #747474;
    height: 7vh;
    margin: 0.3vh 0;
}

.signup-cont .hero-btn {
    margin: 2vh 0;
    width: 100%;
}

.align-p {
    text-align: left;
}

.signup-cont .underlined-link {
    text-decoration: underline;
    align-self: left;
}

.signup-cont .underlined-link:hover {
    cursor: pointer;
}

.signup-cont p {
    font-size: 16px;
    margin: 14px 0;
}

.signup-span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-span input {
    margin: 0 !important;
}

.signup-span p {
    margin: 0;
}

.signup-span input {
    margin: auto 0;
    margin-right: 0.5vw;
}

.sign-fields {
    flex-direction: row !important;
    height: auto !important;
}
.signup-cont .fields .sign-username {
    margin-bottom: 1vh;
}
.signup-cont .signup-main .signup-fields input {
    margin: 0.3vh 0;
    height: auto;
    padding: 1.2vh 1vw;
    border: 2px solid #ccc;
}
.signup-cont .signup-main .signup-fields input:hover,
.signup-cont .signup-main .signup-fields input:focus {
    border-color: #4678f9;
}

.signup-main p.error-msg {
    color: red;
    margin: 0.5vw;
}
.google-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 1vh 0;
    margin-top: 2vh;
    box-shadow: 0 0 7px rgba(116, 116, 116, 0.24);
    border-radius: 10px;
    padding: 14px 0;
}
.google-btn img {
    width: 26px;
    height: 26px;
}
@media (max-width: 1500px) {
    .signup-cont .logo {
        height: 50px;
    }
    .signup-wrap {
        width: 700px;
    }
    .signup-cont .signup-main {
        padding: 0 100px;
    }
    .signup-cont .hero-btn {
        font-size: 16px;
    }
    .signup-cont .signup-main .signup-fields input {
        padding: 10px 20px;
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .signup-cont .logo {
        width: 70%;
        height: auto;
    }
    .signup-wrap {
        width: 90%;
        margin: 100px auto 8vh auto;
    }
    .signup-cont .signup-main {
        padding: 0 30px;
    }
    .signup-cont .text {
        padding: 0 30px;
    }
    .signup-cont p {
        font-size: 14px;
    }
    .subside-text {
        color: rgba(116, 116, 116, 0.8);
        font-size: 12px !important;
        text-align: left;
        margin-top: 10px;
    }
    .signup-span {
        flex-direction: row-reverse;
    }
}
@media (max-width: 1500px) {
}
