.user-cont {
    margin-top: 13vh;
    padding: 0 24vw;
}

.user-cont h1,
.user-cont h2,
.user-cont h3,
.user-cont h4 {
    font-weight: 500;
}

.user-cont p {
    font-size: 0.9vw;
}

.user-cont .user-back {
    display: flex;
    align-items: center;
    color: #747474;
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.3s;
    margin-bottom: 4vh;
}

.user-cont .profile-info {
    display: flex;
    width: 70vw;
    text-align: left;
}

.user-cont .user-pfp {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.user-cont .profile-info .text {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-cont .text h3 {
    font-size: 1.6vw;
}
.user-cont .text p.field {
    margin: 0.4vh 0;
}

.user-cont .email {
    margin-bottom: 1.5vh;
    color: #4678f9;
}

.user-cont .user-links {
    font-size: 2vh;
    display: flex;
}

.user-cont .user-links a {
    margin-right: 0.6vw;
    background-color: #4678f9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1vh;
    transition: all 0.3s;
}
.user-cont .user-links a:hover {
    background-color: #2347a2;
}

.user-div {
    margin: 3vh 0;
    /* max-width: 65%; */
}

.user-div h3 {
    font-size: 1.3vw;
    color: #4678f9;
    margin-bottom: 1vh;
}

.aboutme {
    max-width: 65%;
}

.user-cont .current-org img {
    height: 7vh;
    width: 7vh;
    border-radius: 100%;
}

.user-projects .workCard {
    width: 19%;
}
