/* Car Options */
.carHold {
    width: 100%;
    position: relative;
}
#carPrev,
#carNext {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    background: none;
    color: #85d49c;
    font-size: 1.3vw;
    cursor: pointer;
}
#carPrev {
    left: -3.2%;
}
#carNext {
    left: 99.5%;
}
.work-car-item {
    max-width: 8.3vw !important;
    height: 4.5vw !important;
    border: 2px solid #85d49c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    margin-right: 1.4vw;
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
    cursor: pointer;
    transition: all 0.3s;
}
.work-car-item h1 {
    font-size: 0.8vw;
    font-weight: 500;
    color: #85d49c;
    padding: 0 0.2vw;
    transition: all 0.3s;
    text-align: center;
}
.work-car-item:hover {
    background: #85d49c;
}
.work-car-item:hover h1 {
    /* color: #fff; */
    color: #29313d;
}
.workTitle strong {
    font-weight: 400;
}
/* POPULAR */
.firstProjSec {
    margin-top: 9vh;
}
.projects h1 {
    font-weight: 500;
    color: #29313d;
    font-size: 2.3vw;
    margin-bottom: 2vh;
    padding-left: 2%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.projects h1 a {
    color: #4678f9;
    font-size: 1vw;
    font-weight: 300;
    height: 100%;
    margin-left: 2vw;
}
.projects h1 a:hover {
    text-decoration: underline;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
}
.workTitle {
    font-weight: 600;
    font-size: 2vw;
    padding-right: 40%;
}
.workTitle a {
    text-decoration: underline;
    color: #85d49c;
}
/* SORT */
.workSort {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    margin-top: 2vh;
    border-bottom: 3px solid #dcdcdc;
}
.workSort button {
    font-size: 1vw;
    font-weight: 400;
    color: #29313d;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 0 1.4vw;
    padding-bottom: 1vh;
    transition: all 0.3s;
}
button.workSortActive {
    color: #4678f9;
}
.workSort button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #4678f9;
    transform: translateY(3px) scaleX(0);
    transform-origin: center;
    transition: all 0.3s;
}
button.workSortActive::after {
    transform: translateY(3px) scaleX(1);
}
/* CARDS */
.workCards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.workCard {
    width: 12%;
    margin: 2% 2%;
    cursor: pointer;
}
.workCard img {
    width: 100%;
    height: 10vw;
    border-radius: 5px;
}
.workCard h2,
.workCard h3 {
    display: block;
    text-align: left;
    font-weight: 400;
}
.workCard h2 {
    font-size: 1vw;
    font-weight: 500;
    margin: 0.4vh 0;
}
.workCard h3 {
    font-size: 0.75vw;
    color: #747474;
}

.workCard:hover > h2,
.workCard:hover > h3 {
    text-decoration: underline;
}

/* Popup  */

.project-back {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.3s;
    margin-bottom: 2vh;
}

.return {
    width: 25%;
    text-align: left;
    font-size: 1.4vw;
    color: #747474;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.fullProjectBanneri {
    width: 100%;
    height: 35vh;
    border-radius: 8px;
    margin-bottom: 3vh;
}

.fullProjectBanneri {
    width: 100%;
    height: 42vh;
    border-radius: 8px;
    margin-bottom: 3vh;
}

.projectOrg {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    box-shadow: 0px 4px 30px 0px #00000026;
    border-radius: 10px;
    margin-bottom: 3vh;
}

.projectOrg h1 {
    font-weight: 400;
    font-size: 2.5vw;
    margin-bottom: 2vh;
}
.projectOrg h3 {
    font-weight: 300;
    color: #4678f9;
    font-size: 1vw;
}

/* .projectOrg a { */
/*     font-weight: 300; */
/*     font-size: 1vw; */
/*     color: #4678f9; */
/* } */

.proj-top {
    display: flex;
    justify-content: space-between;
}

.edit-wrap,
.edit-wrap a {
    color: #fff;
}

.view-proj {
    background-color: #4678f9 !important;
    color: white;
    padding: 1vh 4vw;
    font-size: 1vw;
    font-weight: 300;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    transition: all 0.3s;
    margin: auto 0;
    border: 1px solid #4678f9;
}

.view-proj:hover {
    background: #fff !important;
    color: #4678f9;
}

.projectOrg .edit-wrap {
    margin: auto 0;
    color: #4678f9;
    font-size: 0.8vw;
}

.projectOrg .edit-wrap a {
    margin-left: 0.5vw;
    color: #4678f9;
}

.projectAddInfo {
    display: flex;
    margin: 0;
    margin-top: 0;
}

.projectAddInfo > * {
    width: 50%;
}

.fullProjectUnit {
    margin-top: 1vh;
}
.fullProjectUnit h3 {
    font-weight: 500;
    font-size: 1.9vw;
}
.fullProjectUnit p {
    font-size: 1vw;
    font-weight: 300;
    margin-top: 0.6vh;
}
.fullProjectUnit a {
    margin-right: 9px;
    font-size: 1.5vw;
}

.fullProjectUnitOrg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fullProjectUnitOrg p {
    max-width: 80%;
}

.fullProjectUnitOrg .tags,
.fullProjectUnitOrg .pFields {
    color: #4678f9;
    display: flex;
    flex-wrap: wrap;
}

.projectEvent {
    color: #4678f9;
    font-size: 1vw;
    font-weight: 300;
}

.fullProjectUnit .comment-text {
    width: 100%;
    height: 20vh;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    padding: 2vh 1.5vh;
    color: #29313d;
    font-size: 1vw;
    font-weight: 300;
}

.fullProjectButtons {
    margin-top: 1vh;
    display: flex;
    justify-content: flex-end;
}

.post-pcomment-btn {
    border: 1px #4678f9 solid;
    color: #fff;
    padding: 1vh 1vw;
    font-size: 1vw;
    font-weight: 300;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    background: #4678f9;
    align-self: right;
}

.post-pcancel-btn {
    border: 1px #c4c4c4 solid;
    color: #747474;
    padding: 1vh 1.8vw;
    font-size: 1vw;
    font-weight: 300;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 0.5vw;
}

.proj-com-card {
    display: flex;
    margin-top: 3vh;
}

.proj-com-card img {
    border-radius: 100%;
    width: 3.4vw;
    height: 3.4vw;
}

.proj-com-text {
    margin: auto 0;
    margin-left: 1vw;
}

.proj-com-text h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #4678f9;
}

.proj-com-text p {
    color: #747474;
    font-size: 1vw;
    font-weight: 300;
}

.more-com-wrap {
    display: flex;
    color: #4678f9;
    font-size: 1vw;
    justify-content: center;
    margin-top: 1.5vh;
}

.more-com {
    color: #4678f9;
}

.caret-down {
    margin: auto 0;
}

/* Separate page styles */
.black-banner {
    position: absolute;
    top: 65px;
    z-index: -1;
    width: 100%;
    height: 35vh;
    background-color: #29313d;
}

.ViewProjectWrap {
    width: 90%;
    min-height: 120vh;
    padding: 4vh 5vw;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin: 4vw auto 2vw auto;
}

.project-body {
    margin-top: 30px;
    display: flex;
}
.project-body h3 {
    font-weight: 400 !important;
    font-size: 3vh;
    margin-top: 3vh;
}

.project-body > div:first-child {
    border-right: 1px solid #c4c4c4;
    padding-right: 12px;
    width: 60%;
}

.project-body > div:last-child {
    border-left: 1px solid #c4c4c4;
    padding-left: 50px;
    width: 40%;
}

@media (max-width: 800px) {
    .project-body {
        grid-template-columns: 1fr;
    }
    .project-body > div:first-child {
        border-right: none;
    }

    .project-body > div:last-child {
        border-left: none;
    }
}

.project-field {
    padding: 8px 20px;
    border: 2px solid #4678f9;
    background: #f0f4ff;
    border-radius: 7.25px;
    margin-right: 12px;
    margin-bottom: 10px;
    box-shadow: 0px 0.9060693979263306px 8.154624938964844px 0px
        rgba(0, 0, 0, 0.05);
    border-radius: 7.25px;
    margin: 4px 12px 4px 0;
}

.project-tag {
    padding: 6px 18px;
    border-radius: 1000px;
    border: 2px solid #4678f9;
    margin-right: 12px;
    margin: 4px 12px 4px 0;
}

.project-images {
    display: flex;
    margin-top: 0.4vh;
    flex-wrap: wrap;
    align-items: center;
}

.project-images img {
    width: 150px;
    height: 150px;
    margin: 1vh;
    border-radius: 10px;
}

.project-links {
    margin-top: 12px;
}

.project-link-wrapper {
    width: 55px;
    height: 55px;
    background-color: #29313d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-right: 0.4vw;
}

.project-link {
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.project-comments {
    padding: 36px 48px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-top: 5vh;
}

.project-comments h3,
.fullProjectUnit h3 {
    font-weight: 400;
    font-size: 3vh;
    margin-bottom: 3vh;
}
.fullProjectUnit h3 {
    margin-bottom: 1vh;
}

/* SHARE */
.share {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2vh;
    font-weight: 400;
    opacity: 0.6;
}
.share-box {
    border-radius: 14px;
    padding: 20px 26px;
    padding-right: 46px;
    box-shadow: 0 4px 30px rgba(41, 49, 61, 0.08);
    margin-top: 3vh;
    width: fit-content;
}
.share-wrap {
    position: relative;
}
.share-box-fixed {
    position: absolute;
    right: 0;
    background: #fff;
    box-shadow: 0 0 20px rgba(41, 49, 61, 0.2);
    width: max-content;
    padding-right: 26px;
}
.share-box-fixed h3 {
    font-size: 2vh;
    margin-left: 0.4vw;
}
.share-box h3 {
    margin-top: 0;
    color: #29313d;
    font-weight: 500;
}
.share-links {
    display: flex;
    margin-top: 1.4vh;
    margin-bottom: 1vh;
    flex-wrap: wrap;
}
.share-link {
    border-radius: 12px;
    background: #29313d;
    color: #fff;
    display: flex;
    padding: 12px;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    margin: 0 0.3vw;
    margin-bottom: 0.6vw;
    transition: all 0.2s;
}
.share-link:hover {
    filter: brightness(0.7);
}
.project-comment-section {
    margin-top: 3vh;
}
.project-comment-section h3 {
    font-size: 2vh;
}
.proj-com-cont {
    margin-bottom: 5vh;
}
