/* Car Options */
.carHold {
    width: 100%;
    position: relative;
}
#carPrev,
#carNext {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    background: none;
    color: #85d49c;
    font-size: 20px;
    cursor: pointer;
}
#carPrev {
    left: -3.2%;
}
#carNext {
    left: 101.5%;
}
.work-car-item {
    height: 80px;
    border: 2px solid #85d49c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0 6px;
}
.work-car-item h1 {
    font-size: 14px;
    font-weight: 500;
    color: #85d49c;
    padding: 0 0.2vw;
    transition: all 0.3s;
    text-align: center;
}
.work-car-item-active {
    background: #85d49c;
}
.work-car-item-dim {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.work-car-item-active h1 {
    color: #29313d;
}
.work-car-item:hover {
    background: #85d49c;
}
.work-car-item:hover h1 {
    /* color: #fff; */
    color: #29313d;
}
.workTitle strong {
    font-weight: 400;
}
/* POPULAR */
.firstProjSec {
    margin-top: 9vh;
}
.projects h1 {
    font-weight: 500;
    color: #29313d;
    font-size: 36px;
    padding-left: 1.6%;
    margin-bottom: 14px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.projects h1 a {
    color: #4678f9;
    font-size: 1vw;
    font-weight: 300;
    height: 100%;
    margin-left: 2vw;
}
.projects h1 a:hover {
    text-decoration: underline;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
.workTitle {
    font-weight: 600;
    font-size: 2vw;
    padding-right: 40%;
}
.workTitle a {
    text-decoration: underline;
    color: #85d49c;
}
/* SORT */
.workSort {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    margin-top: 2vh;
    border-bottom: 3px solid #dcdcdc;
}
.workSort button {
    font-size: 1vw;
    font-weight: 400;
    color: #29313d;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 0 1.4vw;
    padding-bottom: 1vh;
    transition: all 0.3s;
}
button.workSortActive {
    color: #4678f9;
}
.workSort button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #4678f9;
    transform: translateY(3px) scaleX(0);
    transform-origin: center;
    transition: all 0.3s;
}
button.workSortActive::after {
    transform: translateY(3px) scaleX(1);
}
/* CARDS */
.workCards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.workCard {
    width: 12%;
    margin: 0 2.333%;
    cursor: pointer;
    margin-bottom: 32px;
}
.workCard img {
    width: 100%;
    height: 10vw;
    border-radius: 5px;
}
.workCard h2,
.workCard h3 {
    display: block;
    text-align: left;
    font-weight: 400;
}
.workCard h2 {
    font-size: 1vw;
    font-weight: 500;
    margin: 0;
}
.workCard h3 {
    font-size: 0.75vw;
    color: #747474;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.workCard:hover > h2,
.workCard:hover > h3 {
    text-decoration: underline;
}

/* Popup  */

.project-back {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s;
    margin-bottom: 2vh;
}

.return {
    width: 25%;
    text-align: left;
    font-size: 1.4vw;
    color: #747474;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.fullProjectBanneri {
    width: 100%;
    height: 35vh;
    border-radius: 8px;
    margin-bottom: 3vh;
}

.fullProjectBanneri {
    width: 100%;
    height: 42vh;
    border-radius: 8px;
    margin-bottom: 3vh;
}

.projectOrg {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    box-shadow: 0px 2px 20px 0px #00000013;
    border-radius: 10px;
    margin-bottom: 3vh;
}

.projectOrg h1 {
    font-weight: 400;
    font-size: 26px;
}
.projectOrg h3 {
    font-weight: 300;
    color: #747474;
    font-size: 1vw;
    margin-top: 0;
}

/* .projectOrg a { */
/*     font-weight: 300; */
/*     font-size: 1vw; */
/*     color: #4678f9; */
/* } */

.proj-top {
    display: flex;
    justify-content: space-between;
}

.edit-wrap,
.edit-wrap a {
    color: #fff;
    font-size: 14px;
}

.view-proj {
    background-color: #4678f9 !important;
    color: white;
    padding: 1vh 40px;
    font-size: 18px;
    white-space: nowrap;
    font-weight: 300;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    transition: all 0.3s;
    margin: auto 0;
    border: 1px solid #4678f9;
}

.view-proj:hover {
    background: #fff !important;
    color: #4678f9;
}
.view-proj-mobile {
    display: none;
}
.projectOrg .edit-wrap {
    margin: auto 0;
    color: #4678f9;
    font-size: 0.8vw;
}

.projectOrg .edit-wrap a {
    margin-left: 0.5vw;
    color: #4678f9;
}

.projectAddInfo {
    display: flex;
    margin: 0;
    margin-top: 0;
}

.projectAddInfo > * {
    width: 50%;
}

.fullProjectUnit {
    margin-top: 1vh;
}
.fullProjectUnit h3 {
    font-weight: 500;
    font-size: 1.9vw;
}
.fullProjectUnit p {
    font-size: 1vw;
    font-weight: 300;
    margin-top: 0.6vh;
}
.fullProjectUnit a {
    margin-right: 9px;
    font-size: 14px;
}

.fullProjectUnitOrg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fullProjectUnitOrg p {
    max-width: 80%;
}

.fullProjectUnitOrg .tags,
.fullProjectUnitOrg .pFields {
    color: #4678f9;
    display: flex;
    flex-wrap: wrap;
}

.projectEvent {
    color: #4678f9;
    font-size: 1vw;
    font-weight: 300;
}

.fullProjectUnit .comment-text {
    width: 100%;
    height: 10vh;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    padding: 2vh 1.5vh;
    color: #29313d;
    font-size: 1vw;
    font-weight: 300;
}

.fullProjectButtons {
    margin-top: 1vh;
    display: flex;
    justify-content: flex-end;
}

.post-pcomment-btn {
    border: 1px #4678f9 solid;
    color: #fff;
    padding: 1vh 1vw;
    font-size: 1vw;
    font-weight: 300;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    background: #4678f9;
    align-self: right;
    margin-left: 10px;
}

.post-pcancel-btn {
    border: 1px #c4c4c4 solid;
    color: #747474;
    padding: 1vh 1.8vw;
    font-size: 1vw;
    font-weight: 300;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.proj-com-card {
    display: flex;
    margin-top: 24px;
}

.proj-com-card img {
    border-radius: 100%;
    width: 42px;
    height: 42px;
}

.proj-com-text {
    margin: auto 0;
    margin-left: 1vw;
}

.proj-com-text h4 {
    font-size: 14px;
    font-weight: 500;
    color: #4678f9;
}

.proj-com-text p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}

.more-com-wrap {
    display: flex;
    color: #4678f9;
    font-size: 1vw;
    justify-content: center;
    margin-top: 1.5vh;
}

.more-com {
    color: #4678f9;
}

.caret-down {
    margin: auto 0;
}

/* Separate page styles */
.black-banner {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 35vh;
    background-color: #29313d;
}

.ViewProjectWrap {
    width: 90%;
    min-height: 120vh;
    padding: 4vh 5vw;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin: 4vw auto 2vw auto;
}

.project-body {
    margin-top: 30px;
    display: flex;
}
.project-body h3 {
    font-weight: 400 !important;
    font-size: 18px;
    margin-top: 3vh;
}

.project-body > div:first-child {
    border-right: 1px solid #c4c4c4;
    padding-right: 12px;
    width: 60%;
}

.project-body > div:last-child {
    border-left: 1px solid #c4c4c4;
    padding-left: 50px;
    width: 40%;
}

.project-field {
    padding: 8px 20px;
    border: 2px solid #4678f9;
    background: #f0f4ff;
    border-radius: 7.25px;
    margin-right: 12px;
    margin-bottom: 10px;
    box-shadow: 0px 0.9060693979263306px 8.154624938964844px 0px
        rgba(0, 0, 0, 0.05);
    border-radius: 7.25px;
    margin: 4px 12px 4px 0;
}

.project-tag {
    padding: 6px 18px;
    border-radius: 1000px;
    border: 2px solid #4678f9;
    margin-right: 12px;
    margin: 4px 12px 4px 0;
}

.project-images {
    display: flex;
    margin-top: 0.4vh;
    flex-wrap: wrap;
    align-items: center;
}

.project-images img {
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}
.project-images img:hover {
    filter: brightness(0.5);
}

.project-links {
    margin-top: 12px;
    display: flex;
}
.fullProjectUnit a {
    font-size: 18px;
}

.project-link-wrapper {
    margin-right: 0.4vw;
}

.project-link {
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    width: 42px;
    height: 42px;
    background-color: #29313d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.project-comments h3,
.fullProjectUnit h3 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 3vh;
}
.fullProjectUnit h3 {
    margin-bottom: 0;
}
.project-comments h3,
.project-comment-section h3 {
    font-weight: 400 !important;
    margin-bottom: 14px !important;
}

/* SHARE */
.share {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2vh;
    font-weight: 400;
    opacity: 0.6;
}
.share-box {
    border-radius: 14px;
    padding: 14px 22px;
    box-shadow: 0 4px 30px rgba(41, 49, 61, 0.08);
    margin-top: 3vh;
    width: fit-content;
}
.share-wrap {
    position: relative;
}
.share-box-fixed {
    position: absolute;
    right: 0;
    background: #fff;
    box-shadow: 0 0 20px rgba(41, 49, 61, 0.2);
    width: max-content;
    padding-right: 26px;
}
.share-box-fixed h3 {
    font-size: 2vh;
    margin-left: 0.4vw;
}
.share-box h3 {
    margin-top: 0;
    color: #29313d;
    font-weight: 500;
}
.share-links {
    display: flex;
    margin-top: 1.4vh;
    margin-bottom: 1vh;
    flex-wrap: wrap;
}
.share-link {
    border-radius: 12px;
    background: #29313d;
    color: #fff;
    display: flex;
    padding: 12px;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    margin-bottom: 0.6vw;
    transition: all 0.2s;
}
.share-link:hover {
    filter: brightness(0.7);
}
.project-comment-section {
    margin-top: 3vh;
}
.project-comment-section h3 {
    font-size: 2vh;
}
.proj-com-cont {
    margin-bottom: 10px;
}

.eventHead2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.share-link {
    font-size: 20px;
}
.view-project-chev {
    display: none;
}
.view-all {
    font-size: 14px;
    color: #4678f9;
    margin-left: 20px;
    text-decoration: underline;
}
.view-all:hover {
    text-decoration: underline;
}
@media (max-width: 1100px) {
    .project-body {
        margin-top: 20px;
    }
    .work-car-item {
        height: 60px;
        border-radius: 7px;
    }
    .work-car-item h1 {
        font-size: 10px;
    }
    .eventHead2 {
        padding-top: 0;
        padding-bottom: 20px;
    }
    #carPrev,
    #carNext {
        font-size: 16px;
    }
    .projects h1 {
        font-size: 22px;
    }
    .projects {
        margin: 14px 0;
    }
    .workCard {
        width: 110px;
        margin: 0 14px;
    }
    .workCard img {
        height: 110px;
    }
    .workCard h2 {
        font-size: 12px;
        margin: 2px 0;
    }
    .workCard h3 {
        font-size: 8px;
    }
    .share-link {
        font-size: 16px;
        padding: 8px;
        border-radius: 8px;
    }
    .fullEvent {
        width: 85vw;
    }
    .projectOrg h1 {
        font-size: 20px;
    }
    .view-proj {
        font-size: 12px;
        padding: 8px 22px;
    }
    .event-back {
        font-size: 14px;
    }
    .projectOrg {
        padding: 20px 40px;
        margin: 0;
    }
    .fullProjectUnit p {
        font-size: 12px;
        padding-right: 40px;
    }
    .project-field {
        padding: 6px 12px;
    }
    .fullEvent {
        padding-bottom: 8vh;
    }
    .project-comments h3,
    .fullProjectUnit h3 {
        font-size: 14px;
    }
    .ViewProjectWrap {
        padding: 0 30px;
        padding-top: 40px;
    }
    .project-images img {
        width: 70px;
        height: 70px;
        margin: 5px;
    }
    .share-box h3 {
        font-size: 14px !important;
    }
    .proj-com-text h4 {
        font-size: 12px;
    }
    .fullProjectUnit .comment-text {
        font-size: 12px;
    }
}
@media (max-width: 830px) {
    .project-body {
        grid-template-columns: 1fr;
    }
    .project-body > div:first-child {
        border-right: none;
    }
    .project-body > div:last-child {
        border-left: none;
        padding: 0;
    }
    .eventHead a {
        font-size: 12px;
    }
    #carPrev,
    #carNext {
        font-size: 14px;
    }
    .projects h1 {
        font-size: 18px;
    }
    .projects {
        margin: 10px 0;
    }
    .workCard {
        width: 96px;
        margin: 0 10px;
        margin-bottom: 18px;
    }
    .workCard img {
        height: 96px;
    }
    .workCard h2 {
        font-size: 10px;
    }
    .workCard h3 {
        font-size: 6px;
    }

    .projectOrg {
        padding: 20px 30px;
    }
    .projectOrg h1 {
        font-size: 20px;
    }
    .project-comments h3,
    .fullProjectUnit h3,
    .project-body h3 {
        font-size: 18px;
    }
    .project-images img {
        width: 70px;
        height: 70px;
    }
    .fullProjectUnit {
        margin-top: 30px;
    }
    .post-pcomment-btn {
        font-size: 10px;
        padding: 6px 14px;
    }
    .post-pcancel-btn {
        font-size: 10px;
        padding: 6px 14px;
    }
    .proj-com-card img {
        width: 32px;
        height: 32px;
    }
    .proj-com-text h4 {
        font-size: 10px;
    }
    .fullProjectUnit p {
        font-size: 11px;
        padding-right: 0;
    }
}
@media (max-width: 500px) {
    .work-car-item h1 {
        font-size: 12px;
    }
    .eventHead a {
        font-size: 11px;
        padding: 10px 12px;
    }
    .eventHead a img {
        width: 12px;
    }
    .head-1 .forumTitle {
        font-size: 14px;
        padding-right: 0;
    }
    .carHold {
        padding: 0 12px;
    }
    #carNext {
        left: 100%;
    }
    .work-car-item {
        height: 50px;
        margin: 16px 0;
    }
    .eventHead2 {
        padding-top: 4px;
    }
    .projects h1 {
        font-size: 24px;
    }
    .projects {
        margin: 28px 0;
    }
    .workCard {
        width: 42%;
        margin: 0 4%;
        margin-bottom: 28px;
    }
    .workCard img {
        height: 18vh;
    }
    .workCard h2 {
        font-size: 16px;
        margin: 0;
    }
    .workCard h3 {
        font-size: 14px;
        margin: 0;
    }
    .fullEvent {
        width: 95vw;
        padding: 12px 32px;
    }
    .fullProjectBanneri {
        height: calc(35vh - 50px);
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        border-radius: 0;
        z-index: -1;
    }
    .projectOrg h3 {
        font-size: 10px;
    }
    .event-back {
        margin: 12px 0 !important;
    }
    .ViewProjectWrap {
        padding: 0 10px;
    }
    .projectOrg {
        padding: 18px 32px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 28vh;
        border-radius: 4px;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
    .projectOrg h1 {
        font-size: 24px;
    }
    .projectOrg h3 {
        font-size: 14px;
        margin: 10px 0;
    }
    .view-proj {
        margin: 6px 0;
        padding: 10px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .view-project-chev {
        display: flex;
        align-items: center;
    }
    .project-body {
        margin-top: 0;
        flex-direction: column;
    }
    .project-body > div:first-child,
    .project-body > div:last-child {
        width: 100%;
        padding: 0;
    }
    .project-comments h3,
    .fullProjectUnit h3,
    .project-body h3 {
        margin-top: 0;
    }
    .project-images {
        margin-top: 10px;
    }
    .view-proj-standard {
        display: none;
    }
    .view-proj-mobile {
        display: flex;
        width: 36px;
        height: 36px;
        font-size: 16px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .project-images img {
        margin: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        width: 100px;
        height: 100px;
    }
    .share-box {
        margin: 20px 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }
    .share-box h3 {
        margin: 0 !important;
        font-size: 18px !important;
    }
    .share-link {
        font-size: 20px;
        padding: 10px;
    }
    .fullProjectUnitOrg .tags,
    .fullProjectUnitOrg .pFields {
        width: 100%;
    }
    .project-field,
    .project-tag {
        margin: 4px 6px 4px 0;
    }
    .proj-top {
        position: fixed;
        top: 0;
        left: 0;
        background: #29313d;
        width: 100vw;
        height: 50px;
        z-index: 10000;
        padding: 0 20px;
    }
    .project-back,
    .edit-wrap,
    .edit-wrap a {
        margin: 0;
        display: flex;
        align-items: center;
        color: #eee;
    }
    .edit-wrap {
        display: flex;
        align-items: center;
    }
}
