.profile-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8.5vh;
  padding: 0 10vw;
}
.left-tabs {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right-tabs {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-tabs h3 {
  cursor: pointer;
  padding: 2vh 1.5vw;
  color: #c4c4c4;
  font-size: 1vw;
  font-weight: 400;
  transition: all 0.3s;
}
.left-tabs h3 {
  position: relative;
}
.left-tabs h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 5px 5px 0 0;
  background: #85d49c;
  transition: all 0.3s;
}
.profile-tabs h3:hover {
  color: #fff;
}
.profile-tab-active {
  color: #85d49c !important;
}
.profile-tab-active::after {
  width: 100% !important;
}
