#soon-logo {
  width: 60%;
  margin-top: 10vh;
}
.soon p {
  font-size: 1.8vw;
}
.soon {
  height: 95vh;
}
.soon-right {
  justify-content: center;
}
#disc-wid {
  width: 70%;
  height: 70%;
}

/* MEDIA */
@media (max-width: 1100px) {
  .soon {
    margin-top: 7vh;
  }
  #disc-wid {
    height: 100%;
  }
  #soon-logo {
    width: 50%;
    margin-top: 0;
  }
  .soon p {
    font-size: 3vw;
  }
}
@media (max-width: 768px) {
  .soon {
    margin-top: 2vh;
    height: 98vh;
  }
  #disc-wid {
    height: 120%;
    width: 90%;
  }
  #soon-logo {
    width: 70%;
  }
  .soon p {
    font-size: 4vw;
  }
}
